APP_NAME="Andaleeb Travel Agency"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_MODE=local
APP_URL=http://127.0.0.1:8000
APP_TIMEZONE=Asia/Dubai
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=andaleebtours
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=false

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=file
CACHE_PREFIX=

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

RE_CAPTCHA_SITE_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_CALLBACK=${APP_URL}/auth/callback/google

PAYBY_PARTNER_ID=
PAYBY_API_URL=https://api.payby.com/sgs/api/acquire2
PAYBY_PRIVATE_KEY_PATH=app/keys/Merchant_private_key.pem

TABBY_API_KEY=
TABBY_API_URL=https://api.tabby.ai
TABBY_MERCHANT_CODE=

TAMARA_API_URL=https://api-sandbox.tamara.co
TAMARA_API_TOKEN=
TAMARA_NOTIFICATION_TOKEN=
