@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
    .first-section {
        padding-top: 54px;
    }
    .copyright-text {
        justify-content: center;
        gap: 18px 10px;
        text-align: center;
    }
    .footer-social-icons {
        justify-content: center;
        margin-top: 1rem;
    }
    .footer::before {
        top: 29%;
        left: 66%;
    }
    .auth-actions {
        font-size: 13px;
    }
    .auth-header p {
        font-size: 12px;
    }
    .auth-card {
        padding: 25px;
    }
    .auth-header h2 {
        font-size: 25px;
    }
    .mh-header .mh-nav {
        display: none;
    }
    .mh-header {
        padding: 6px 0;
    }
    .mh-logo img {
        width: 115px;
    }
    .mh-user-area{
        gap: 0;
    }
}
